class Configs
    CONFIGVALUES =
    {
        "logLevel" => 0,   #0 = DEBUG, 1 = INFO, 2 = WARN, 3 = ERROR, 4 = FATAL, 5 = UNKNOWN
        "logLocation" => "./terribleQuoteBot.log".freeze,         # the file you want the logs to be saved in
        "postgresConnString" => "host=localhost user=xxxx password=xxxx dbname=quotes".freeze,
        "discordToken" => "xxxxxx".freeze,
        "discordPrefix" => "!".freeze
    }

    DEFAULTCONFIG = "badType".freeze

    def self.getConfigValue(type)
        CONFIGVALUES.fetch(type, DEFAULTCONFIG)
    end

end